# Google OAuth2
GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxx

# NextAuth
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=xxxx  # openssl rand -base64 32 で生成

# Backend API URL (フロントエンドからアクセスする URL)
NEXT_PUBLIC_API_URL=http://localhost:8000
